body {
    background: whitesmoke;
}
.navbar {
    background: #57a283;
}
.fixed-top {
    z-index: 500 !important;
}
nav.active > .container-fluid > .container > #navbarSupportedContent > ul > li.account-top > .account-bag {
    background-image: url('/img/logo/shopping-bag.png');
}
nav.active > .container-fluid > .container > #navbarSupportedContent > ul > li.account-top > .account-notification {
    background-image: url('/img/logo/bell-green.png');
}
nav.active > .container-fluid > .container > #navbarSupportedContent > ul > li.account-top > .account-notification-on {
    background-image: url('/img/logo/bell-alert-green.png');
}
.ps {
    max-height: 400px;
}
.ps__rail-y {
    background: transparent !important;
}
.ps__thumb-y {
    background: #57a283 !important;
}
.notification {

    &-icon {
        background: url('/img/logo/bell-green.png') no-repeat center;
        width: 30px;
        height: 30px;
        margin: 40px auto 0 auto;
    }
    &-title {
        font-size: 13px;
        text-align: center;
        margin: 10px 0 40px 0;
        color: #57a283;
    }
    &-items {
        display: flex;
        flex-direction: column;
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 7px 15px 7px 15px;
        gap: 10px;
        font-size: 12px;
        &:hover {
            background: #e6f1ec;
        }
        &:first-child {
            padding-top: 15px;
        }
        &:last-child {
            padding-bottom: 15px;
        }
        &:only-child {
            padding: 15px;
        }
        &-icon {
            width: 40px;
            height: 40px;
            background: #e6f1ec no-repeat center;
            background-size: cover;
            border-radius: 40px;
        }
        &-detail {
            max-width: 190px;
            &-title {
                font-weight: bold;
                color: #000;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                & > span {
                    color: grey;
                }
            }
            &-description {
                color: grey;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &-arr {
            width: 15px;
            height: 15px;
            background: url('/img/logo/right-arrow.svg') no-repeat center;
            background-size: contain;
            border-radius: 50px;
            margin: 0 0 0 auto;
        }
    }
}
.account {
    width: 24px;
    height: 24px;
    background: no-repeat center;
    background-size: contain;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &-bag {
        background-image: url('/img/logo/shopping-bag-white.png');
    }
    &-notification {
        background-image: url('/img/logo/bell.png');
        &-on {
            background-image: url('/img/logo/bell-alert.png');
        }
    }
    &-list {
        width: 100%;
        border-radius: 10px;
        background: #fff;
        position: relative;
        overflow: hidden;
        &-title {
            font-size: 14px;
            text-align: center;
            padding: 25px 0 25px 0;
            color: grey;
        }
        &-items {
            margin: 0 15px 15px 15px;
            font-size: 14px;
            color: #57a283;
        }
        &-item {
            border-top: 1px solid #e6f1ec;
            padding: 10px 0 10px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none !important;
            color: inherit !important;
            &:hover {
                background: rgb(250,250,250);
            }
            &-icon {
                width: 18px;
                height: 18px;
                background: no-repeat center;
                background-size: contain;
                &-account {
                    background-image: url('/img/logo/profile-user.png');
                }
                &-register {
                    background-image: url('/img/logo/writing.png');
                }
                &-settings {
                    background-image: url('/img/logo/settings.svg');
                }
                &-history {
                    background-image: url('/img/logo/history.svg');
                }
                &-payments {
                    background-image: url('/img/logo/card.svg');
                }
                &-sign_out {
                    background-image: url('/img/logo/sign-out.svg');
                }
            }
        }
    }
    &-info {
        &-logo {
            background: #e6f1ec;
            margin: 25px auto 10px auto;
            height: 40px;
            width: 40px;
            text-align: center;
            color: #57a283;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            font-size: 22px;
        }
        &-name {
            text-align: center;
            color: #57a283;
            margin: 10px 15px 21px 15px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    &-main {
        position: absolute;
        width: 300px;
        left: 50%;
        top: 55px;
        transform: translate(-50%,0);
        box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: all 0.2s ease;
        visibility: hidden;
        opacity: 0;
        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: #fff;
            transform: translate(-50%,0) rotate(
                    45deg
            );
            left: 50%;
            top: -8px;
            box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        }
    }
    &-top {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover > .account > .account-main {
            visibility: visible;
            opacity: 1;
            top: 45px;
        }
    }
}
.header {
    &-notification {
        cursor: pointer;
        width: 44px;
        height: 100%;
        border-radius: 50px;
        margin-right: 15px;
        background: no-repeat center #fff;
        background-size: 40%;
        &-icon {
            background-image: url('/img/logo/bell.svg');
        }
        &-icon-message {
            background-image: url('/img/logo/notification.svg');
        }
    }
    &-sign-out, &-location {
        background: url('/img/logo/sign-out.svg') no-repeat center rgb(245,245,245);
        background-size: 40%;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 12px;
        border-radius: 30px;
        cursor: pointer;
    }
    &-reserved {
        background: url('/favicon/favicon.ico') no-repeat center whitesmoke;
        background-size: cover;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 12px;
        border-radius: 30px;
        cursor: pointer;
    }
    &-location {
        background-image: url('/img/logo/location-pin-green.svg');
        left: 12px;
    }
    &-text {
        font-size: 20px;
    }
    &-dropdown {
        background: #fff;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .1);
        position: absolute;
        top: 44px;
        right: 0;
        width: max-content;
        border-radius: 10px;
        font-size: 14px;
        display: none;
        &-ul {
            & > a {
                cursor: pointer;
                border-color: #f0f0f0;
                color: grey;
                font-weight: bold;
                &:hover {
                    background: #FF8008;
                    color: #fff;

                }
            }
        }
    }
    &-main {
        cursor: pointer;
        &:hover > .header-dropdown {
            display: block;
        }
    }
    &-profile {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto 30px;
        grid-gap: 5px;
        height: 100%;
        font-size: 14px;
        color: #FF8008;
        padding: 0 5px 0 10px;
        background: #fff;
        border-radius: 30px;
        &-main {
            &-content {
                display: grid;
                justify-content: center;
                align-content: center;
                height: 100%;
            }
        }
        &-icon {
            height: 30px;
            width: 30px;
            background: #FF8008;
            border-radius: 30px;
            display: grid;
            justify-content: center;
            align-content: center;
            & > div {
                text-transform: uppercase;
            }
        }
    }
}
@media only screen and (max-width: 1400px) {
    .account {
        &-main {
            left: auto;
            right: -15px;
            transform: translate(10px, 0);
            &:before {
                left: auto;
                right: 20px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .header {
        &-text {
            font-size: 14px;
            margin: 3px auto 3px auto;
            padding: 0;
        }
    }
}
