.location {
    background: #e6f1ec;
    padding: 10px 10px 10px 15px;
    border-radius: 30px;
    color: #57a283;
    cursor: pointer;
    display: flex;
    gap: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    &-main {

    }
    &-title {
        font-size: 12px;
        font-weight: bold;
    }
    &-icon {
        background: url('/img/logo/location-pin-green.svg') no-repeat center;
        background-size: contain;
        width: 20px;
    }
    &-body {
        display: flex;
    }
    &-country {
        width: 50%;
        border-right: 1px solid rgb(230,230,230);
    }
    &-city {
        width: 50%;
    }
    &-country-item, &-city-item {
        padding: 10px 15px 10px 15px;
        font-size: 14px;
        color: #00a082;
        font-weight: bold;
        margin: 0 5px 5px 5px;
        cursor: pointer;
        border-radius: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-country-item:hover, &-city-item:hover, &-item-sel {
        background: #00a082;
        color: #fff;
    }
}
.list {
    &-group {
        &-item {
            background: transparent !important;
        }
    }
}
.section {
    &-bg {
        background: #fff;
        &-main {
            background: #fff;
            border-bottom: 1px solid #e6f1ec;
        }
    }
    &-title {
        font-family: 'Lobster', cursive;
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    .location {
        &-main {
            display: none !important;
        }
        &-country-item, &-city-item {
            font-size: 11px;
            padding: 5px 10px 5px 10px;
        }
    }
    .section {
        &-bg {
            background: #57a283;
            &-main {
                padding-top: 0 !important;
            }
        }
        &-title {
            font-size: 16px;
            text-align: center;
        }
    }
    .breadcrumb {
        & > li {
            margin: 0 1px 0 1px;
            line-height: 1;
            & > a {

            }
        }
        &-link {
            font-size: 13px;
        }
        &-arrow, &-home {
            width: 14px;
            height: 14px;
        }
        &-arrow {
            background-size: 60%;
        }
    }
}
