.search {
    &-text_input {
        margin: 20px auto 0 auto;
        &-main {
            margin: 0 auto 0 auto;
            padding: 10px;
            background: #fff;
            border-radius: 10px;
            width: 400px;
            border: 1px solid #e6f1ec;
            position: relative;
            &-list {
                position: absolute;
                background: #fff;
                left: 10px;
                right: 10px;
                top: 60px;
                border-radius: 10px;
                z-index: 4;
                box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
                overflow: hidden;
                &-start {
                    padding: 15px;
                    text-align: center;
                    font-size: 12px;
                    color: grey;
                }
                &-option {
                    padding: 10px 15px 10px 15px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                    text-decoration: none !important;
                    &:first-child {
                        padding-top: 15px;
                    }
                    &:last-child {
                        padding-bottom: 15px;
                    }
                    &:hover {
                        background: #e6f1ec;
                    }
                    &-icon {
                        width: 40px;
                        height: 40px;
                        background: #e6f1ec no-repeat center;
                        background-size: contain;
                        border-radius: 50px;
                    }
                    &-detail {
                        font-size: 12px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 80%;
                        &-title {
                            font-weight: bold;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            color: #000;
                        }
                        &-desc {
                            color: grey;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
            &-close {
                width: 20px;
                height: 20px;
                background: url(/img/logo/close.svg) no-repeat center;
                background-size: 50%;
                opacity: .5;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translate(0, -50%);
                cursor: pointer;
            }
            &-icon {
                position: absolute;
                width: 16px;
                height: 16px;
                background: url(/img/logo/search.png) no-repeat center;
                background-size: contain;
                top: 50%;
                left: 18px;
                transform: translate(0, -50%);
            }
            & > input {
                background: #e6f1ec;
                width: 100%;
                border-radius: 5px;
                border: none;
                height: 40px;
                padding: 0 40px 0 40px;
                outline: none !important;
                font-size: 12px;
            }
        }
    }
    &-layout {
        width: 100%;
        height: auto;
        background: #fff;
        margin: 20px auto 0 auto;
        border: 1px solid #e6f1ec;
        border-radius: 10px;
        position: relative;
        color: #57a283;
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 16.66%;
            cursor: pointer;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &-select {
                position: absolute;
                max-height: 200px;
                overflow: auto;
                background: #e6f1ec;
                color: #57a283;
                z-index: 3;
                left: 10px;
                right: 0;
                top: 58px;
                border-radius: 5px;
                font-size: 11px;
                gap: 15px;
                display: flex;
                flex-direction: column;
                padding: 15px 0 15px 0;
                &-close {
                    display: none;
                }
                &-option {
                    display: flex;
                    padding: 0 15px 0 15px;
                    align-items: center;
                    gap: 10px;
                    flex-wrap: wrap;
                    &-stars {
                        display: flex;
                        gap: 2px;
                        align-items: center;
                    }
                    &-star {
                        width: 12px;
                        height: 12px;
                        background: url('/img/logo/star-whitesmoke.svg') no-repeat center;
                        background-size: contain;
                        &-sel {
                            background-image: url('/img/logo/star-orange.svg');
                        }
                    }
                    &-rating {
                        line-height: 1;
                        background: #fff;
                        padding: 3px 5px 3px 5px;
                        border-radius: 3px;
                        font-size: 11px;
                        margin-left: 5px
                    }
                    &-checkbox {
                        width: 20px;
                        height: 20px;
                        border-radius: 3px;
                        background: #fff no-repeat center;
                        background-size: 70%;
                        &-checked {
                            background-image: url('/img/logo/check.png');
                        }
                    }
                    &-title {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        & > span {
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
            }
            &-title {
                font-size: 12px;
                font-weight: bold;
                padding: 15px;
                border-radius: 5px;
                margin: 10px 0 10px 10px;
                position: relative;
                background: #e6f1ec;
                &:after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border: 2px solid #57a283;
                    transform: rotate(
                            45deg
                    );
                    border-top: none;
                    border-left: none;
                    right: 20px;
                    top: 20px;
                }
            }
            &-button {
                margin: 10px;
                background: #57a283;
                text-align: center;
                height: 48px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                & > div {

                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .search {
        &-text_input {
            margin-top: 0;
            &-main {
                padding: 5px;
                width: 100%;
                &-list {
                    top: 50px;
                    left: 5px;
                    right: 5px;
                    border-radius: 5px;
                }
            }
        }
        &-layout {
            margin-top: 10px;
            &-item {
                width: 100%;
                &-title {
                    margin: 5px 5px 0 5px;
                }
                &-select {
                    right: 0;
                    position: relative;
                    top: 5px;
                    left: 5px;
                    margin: 0 10px 5px 0;
                }
                &-button {
                    margin: 5px;
                }
            }
            &-text {

            }
        }
    }
}
